body {
  color: #303438;
  font-family: "Roboto Mono", monospace;
}

/* color palette: https://www.color-hex.com/color-palette/368  */

a {
  text-decoration: none;
  color: #303438;
}

form {
  margin-top: 10px;
  margin-left: 10px;
}

form .search-bar {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #5a4565;
  width: 40%;
}

form .button {
  color: #e2dbe9;
  background: #5a4565;
  border: 1px solid #5a4565;
  padding: 5px 15px;
  border-radius: 5px;
}

form .button:hover {
  background: #3e204f;
}

.card {
  margin-top: 50px;
  padding: 10px 20px;
  width: 650px;
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 75px auto;
  background: #e2dbe9;
}

.degree-unit {
  color: #3e204f;
  font-size: 16px;
  position: absolute;
  top: 170px;
}

.main-section {
  margin: 20px;
  text-align: center;
}

.main-section h2 {
  font-size: 35px;
}

.main-section p {
  font-size: 14px;
  line-height: 1.1;
  margin-top: 20px;
}

.main-section i {
  font-size: 50px;
  margin-bottom: 10px;
}

.weather-stats {
  margin-top: 35px;
}

.weather-stats p {
  margin-top: 5px;
}

.forecast h5 {
  font-size: 20px;
}

.forecast {
  text-align: center;
}

.forecast p {
  font-size: 14px;
}

.forecast i {
  font-size: 25px;
  margin-bottom: 10px;
}

.daily-forecast {
  padding-top: 5px;
  padding-bottom: 5px;
}

.daily-forecast h5 {
  font-size: 20px;
}

.daily-forecast p {
  font-size: 16px;
}

.daily-forecast:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.credits {
  font-size: 12px;
  text-align: center;
  margin-top: -50px;
}

.credits a {
  color: blue;
}

.credits a:hover {
  text-decoration: underline;
}

.date {
  font-size: 14px;
  margin-bottom: 15px;
}

.degree-unit a {
  color: #bcaecc;
  cursor: default;
}

.degree-unit .active {
  color: #3e204f;
}

.active:hover {
  text-decoration: none;
}

#description {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

#currentTemp {
  font-size: 40px;
}

#current-weather-icon {
  margin-top: 25px;
}
